.background{
    /* background-color: rgb(255, 255, 255); */
    background-image: linear-gradient(to right, rgb(173, 255, 255) , rgb(252, 252, 252));
}

.container{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}